* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffc107;
}

.card {
  width: 100%;
  height: 450px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
  transition: 1s;
}

button {
  opacity: 0;
}

.card:active {
  transform: rotate(-5deg);
}

.outside:active {
  transform: rotateY(-130deg);
}

/* .card:hover .outside {
  transform: rotateY(-130deg);
} */

.outside,
.insede {
  border: 1px solid black;
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50%;
}

.insede {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: linear-gradient(to right, #e0f0f0, #fff 30%);
  line-height: 3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
}

.outside {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 1;
  transform-origin: left;
  transition: 2s;
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.front {
  background-color: #fff;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e0e0e0, #fff 30%);
}

.cake {
  width: 100%;
  position: absolute;
  bottom: 30px;
}

.topLayer,
.midleLayer,
.botomLayer {
  height: 80px;
  width: 185px;
  background-repeat: repeat;
  background-size: 60px 100px;
  background-position: 30px 0;
  background-image: linear-gradient(
      transparent 50px,
      #fedbab 50px,
      #fedbab 60px,
      transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #994c10 30px, #fcbf29 31px);
  border-radius: 10px 10px 0 0;
  position: relative;
  margin: auto;
}

.topLayer {
  top: 26px;
  transform: scale(0.7);
}

.midleLayer {
  top: 6px;
  transform: scale(0.85);
}

.candle {
  height: 45px;
  width: 15px;
  background: repeating-linear-gradient(
    45deg,
    rgb(253, 65, 65) 0,
    rgb(253, 65, 65) 5px,
    rgb(245, 206, 206) 5px,
    rgb(245, 206, 206) 10px
  );
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 222px;
}

.candle::before {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #ffa500;
  border-radius: 0 50% 50% 50%;
  bottom: 48px;
  transform: rotate(45deg);
  left: -1px;
}

.outside p {
  font-family: "Alatsi", sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 25px;
}

.insede P {
  font-size: 20px;
  line-height: 40px;
}
